<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Ders Ekle</h5>
          <app-lesson-create></app-lesson-create>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">Ders Listesi</h5>
          <app-lesson-read></app-lesson-read>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Ders Adedi</h5>
          <app-lesson-count></app-lesson-count>
        </div>
      </div>
    </div>
  </div>
</div>